.git
.gitignore
.turbo
/apps/desktop
**/.next
**/dist
**/release
**/stage
**/out
**/build
**/node_modules
node_modules
coverage
.vercel
work
outputs

**/.env
**/.env.*
!**/.env.example

*.log
*.tsbuildinfo
.DS_Store
Thumbs.db
